@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #043873;
    --secondary-color: #4f9cf9;
    --blue-secundary: #a7cefc;
    --detail-color: #FFE492;
    --neutral-color: #FFFFFF;
    --dark-color: #212529;
}

*{
    margin: 0;
    font-family: 'inter', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}

.logo{
    padding-right: 170px;
    margin-left: 50px;
}

.nav-bar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 20px 30px;
}

i{
    padding-left: 5px;
}

.bg-blue{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue{
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

header{
    background-image: url(/images/Element.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 600px;
}

.text{
    margin-left: 60px;
    font-size: 40px;
}

.text h4{
    font-size: 15px;
    padding: 30px 0px;
}

.image-right{
    margin-right: 50px;
}

.tela_azul{
    height: 500px;
    width: 700px;
}

.blue-button{
    background-color: var(--secondary-color);
    color: var(--neutral-color);
    border: none;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    height: 50px;
}

.orange-button{
    background-color: var(--detail-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    width: 100px;
    height: 50px;
}

.left-content{
    background-image: url(/images/detalhe\ lateral.png);
    background-repeat: no-repeat;
}

h2{
    font-size: 60px;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    background-image: url(/images/background-lateral.png);
    background-repeat: no-repeat;
    background-position: -170px 0px;
}

.left{
    margin-left: 50px;
    padding: 20px 20px;
    flex-direction: column;
}

.right{
    margin-right: 50px;
}

.Ciclo{
    height: 500px;
    width: 550px;
}

.blue.extension {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    height: 700px;
  }
  
  .left-content3 {
    text-align: left;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .right-content {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .right-content img.tela_azul{
    max-width: 100%; 
    height: 500px;
    width: 700px;
  }
  
.detail-text{
    height: 20px;
    width: 350px;
}

.left-content3 h2{
    font-size: 80px;
    padding-bottom: 15px;
}

.left-content3 button{
    margin-top: 45px;
    padding: 20px 40px;
    align-items: center;
}

.detail-text{
    margin-bottom: -10px;
}

.top{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin: 100px 50px 250px;
}

.top h2{
    font-size: 80px;
}

.top h4{
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
}

.content-customise{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content-customise button{
    width: 150px;
    height: 60px;
}

.text-bg{
    padding-right: 200px;
    background-image: url(/images/orange-detail.png);
    background-repeat: no-repeat;
    background-size: 500px 40px;
    display: inline-block;
    background-position: bottom;
    position: relative;
    background-position: 0 100%;
}

.title{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
}

.title h2{
    margin-left: 150px;
}

.title h4{
    padding-top: 15px;
    font-weight: 400;
}

.values{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.title .text-bg{
    background-size: 300px 30px;
    background-position: 0 100%;
}

.first-style{
    border: 2px solid var(--detail-color);
    border-radius: 7px;
    padding: 20px;
    line-height: 40px;
}

.second-style{
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 60px 20px;
    line-height: 40px;
    color: var(--neutral-color);
    
}

.first-style button{
    background-color: var(--neutral-color-color);
    color: var(--dark-color);
    border: 2px solid var(--detail-color);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    height: 50px;
}

.values li{
    list-style-type: none;
}

.detail-blue{
    padding-right: 200px;
    background-image: url(/images/blue-detail.png);
    background-repeat: no-repeat;
    background-size: 250px 20px;
    display: inline-block;
    background-position: bottom;
    position: relative;
    background-position: 0 100%;
}

.detail-orange{
    padding-right: 200px;
    background-image: url(/images/orange-detail.png);
    background-repeat: no-repeat;
    background-size: 250px 20px;
    display: inline-block;
    background-position: bottom;
    position: relative;
    background-position: 0 100%;
}

.content-work{
    background-color: var(--primary-color);
    background-image: url(/images/detail2.png);
    background-repeat: no-repeat;
    background-position: -170px -150px;
    color: var(--neutral-color);
    width: 100%;
    height: 500px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.content-work h2{
    margin-left: 170px;
    padding-bottom: 30px;  
    margin-top: 150px;
}

.content-work h4{
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 60px;
}

.content-work button{
    width: 200px;
    height: 60px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
    max-width: 100%;
}

.content-data{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}

.right-data{
    margin-left: 40px;
}

.right-data h2{
    font-size: 80px;
    margin-bottom: 40px;
}

.right-data  h4{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.right-data button{
    width: 170px;
    height: 60px;
    margin-top: 50px;
}

.content-logo{
    align-items: center;
    text-align: center;
}